@page
@model WEBProyectoMensajeria.Pages.AdministrativeModel
@{
}

<html>
<head>
    <title>Bienvenido al sistema de mensajería</title>
    <link href="~/estiloss.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="bodyInicio">
    <header>
        <h1 class="nameUser"></h1>

        <div>
             <img src="~/img/Imagen1.png" />
         <nav>
            <ul class="options">
                                <li><a href="/Administrative">Recibidos</a></li>
                <li><a href="/Sent">Enviados</a></li>
                <li ><a data-logout="/Index" href="/Index">Cerrar Sesión</a></li>
            </ul>
        </nav>
        </div>

    </header>

    <main>
        <div class="navMessages">
            <p>Revisa tus nuevos mensajes</p>

            <div>
                <a href="#">Hoy</a>
                <a href="#">Ayer</a>
                <a href="#">Todos</a>
            </div>


            <div>
                <p>Grupo:</p>
                <select>
                    <option>9.1G</option>
                    <option>7.2G</option>
                </select>
            </div>
        </div>


        <section class="messages">
            
            
        </section>

        <template id="plantillaMensaje"> 
            <div>
                <label></label>
                <p></p>
                <label></label>
            </div>
        </template>

        <a data-modal="newMessage" class="btn-flotante">+</a>

    </main>


    <div class="modal" id="newMessage" data-action="Mensajes">

            <form>
                <h4>Detalles del mensaje</h4>

               <div>
                    <label>Para:</label>
                   <select name="IdRemitente">
</select>
</div>
            <label>Mensaje:</label>

            <textarea name="Mensaje1"> </textarea>

            <div>
                 <input type="submit" value="Enviar" />
                <a data-cancel="1">X Cerrar</a>
                </div>
        </form>

    </div>

    <div class="modal" id="seleccionarUsuarios">
        <form>
             <h4>Seleccione 1 ó más remitentes</h4>

        </form>
    </div>


     <div class="modal" id="seeMessage">

            <form>
                <h4>Detalles del mensaje</h4>

               <div>
                    <label>Para:</label>
                    <label name="Remitente"></label>
            </div>

            <label>Mensaje:</label>

 <p name="Mensaje1"></p>
            <div>
                <a data-cancel="1">X Cerrar</a>
                </div>



        </form>

    </div>



     
    <script src="~/mensajeria.js"></script>
    <script>
    //var modal = document.querySelector(".modal");
    //var btnFlotante = document.querySelector(".btn-flotante");
    var options = document.querySelector("header div img");
    var menu = document.querySelector(".options");
        var modalMessage = document.querySelector(".seeMessage");

    //btnFlotante.addEventListener("click", function(){
    //    modal.style.top=0;
    //});

    options.addEventListener("click", function(){
        if(menu.style.display!="block"){
                    menu.style.display="block";
        }
                else{
                    menu.style.display="none";
        }
    });

    // var message = document.querySelector(".messages div");

    //message.addEventListener("click", function(){
    //    modalMessage.style.top=0;
    //});
    </script>


</body>
</html>