@page
@model WEBProyectoMensajeria.Pages.IndexModel
@{
}
<html>
<head>
    <title>Iniciar sesión</title>
    <link href="~/estiloss.css" rel="stylesheet" />
        <link href="~/manifest.json" rel="manifest" />
        <link href="~/img/icons/favicon.ico" rel="icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="bodyLogin">
    <header>
        <h1>Iniciar sesión</h1>
    </header>

    <main>

        <div class="login">
            <input id="correo" class="btnUser" type="text" placeholder="Correo" required />

            <input id="password" class="btnPassword" type="password" placeholder="Contraseña" required />

            <a class="btnEntrar">Entrar</a>
                        <p class="error" ></p>

        </div>
    </main>

    <footer>
        <div>
            <img src="~/img/logoBlanco_WEB.jpg" />
            <h5>TECNM Región Carbonífera</h5>
        </div>
    </footer>

    <script src="~/mensajeria.js"></script>
    <script>
      if (navigator.serviceWorker) {

            //window.addEventListener('load', function () {
                navigator.serviceWorker.register('/serviceworker.js');
            //});

        }

        //verificar si el usuario está autenticado para saber a dónde redirigir
if (localStorage.token) {
    if (localStorage.rol == "Estudiante") {
        window.location.href = "/Student";
    }
    else {
        window.location.href = "/Administrative";
    }
}
</script>
</body>
</html>