@page
@model WEBProyectoMensajeria.Pages.SentModel
@{
}

<html>
<head>
    <title>Bienvenido alumno</title>
    <link href="~/estiloss.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="bodyInicio">
    <header>
        <h1 class="nameUser"></h1>

        <div>
            <img src="~/img/Imagen1.png" />
            <nav>
                <ul class="options">
                    <li><a href="/Administrative">Recibidos</a></li>
                    <li><a href="/Sent">Enviados</a></li>
                <li ><a data-logout="/Index" href="/Index">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <main>
        <div class="navMessages">
            <p>Revisa los mensajes que has enviado</p>
        </div>


        <section class="messages">
          
        </section>

        <template id="plantillaCRUD">
              <div>

                <div>

                    <label></label>

                    <div class="crud">
                        <img data-modal="updateMessage" class="edit" src="~/img/editar.png" />
                        <img data-modal="deleteMessage" class="delete" src="~/img/basura.png" />
                    </div>
                </div>

                <p></p>
                <label></label>
            </div>
        </template>

        <a data-modal="newMessage" class="btn-flotante">+</a>

    </main>


    <div class="modal" id="newMessage" >

        <form method="post" data-action="Mensajes">
            <h4>Detalles del mensaje</h4>

                <label>Para:</label>

                <div id="usuarios">
                    <input value="usuarios" type="radio" id="usuario" name="usuarios" />
                    <label for="usuario">Usuario</label>

                     <input value="clases" type="radio" id="clase" name="usuarios" />
                    <label for="clase">Clase</label>

                     <input value="grupos" type="radio" id="grupo" name="usuarios" />
                    <label for="grupo">Grupo</label>

                     <input value="carreras" type="radio" id="carrera" name="usuarios" />
                    <label for="carrera">Carrera</label>
                </div>
                <div id="chckUsuarios">

                </div>
            <label>Mensaje:</label>

            <textarea name="Mensaje1"> </textarea>

            <div>
                <input type="submit" value="Enviar" />
                <a data-cancel="1">X Cerrar</a>
            </div>
        </form>

    </div>

    <div class="modal" id="seeMessage">

        <form>
            <h4>Detalles del mensaje</h4>

            <div>
                <label>Para:</label>
                <label></label>
            </div>

            <label>Mensaje:</label>

            <p></p>
            <div>
                <a data-cancel="1">X Cerrar</a>
            </div>



        </form>

    </div>

    <div class="modal" id="deleteMessage">

        <form data-action="Mensajes" data-modal="deleteMessage">
            <h4>Confirmar</h4>
                         <input type="hidden" name="IdMensaje"/>
            <label>¿Seguro que desea eliminar el mensaje seleccionado?</label>

            <div>
                <input type="submit" value="Eliminar" />
                <a data-cancel="1">X Cerrar</a>
            </div>
        </form>

    </div>

    <div class="modal" id="updateMessage">

        <form data-action="Mensajes" data-modal="updateMessage">
            <h4>Detalles del mensaje</h4>
            <input type="hidden" name="IdRemitenteHidden"/>
             <input type="hidden" name="IdMensaje"/>
          <div>
                <input type="text" name="IdRemitente" readonly />
            </div>

            <label>Mensaje:</label>

            <textarea name="Mensaje"> </textarea>

            <div>
                <input  type="submit" value="Guardar y enviar" />
                <a data-cancel="1">X Cerrar</a>
            </div>



        </form>
    </div>

    <script src="~/mensajeria.js"></script>
    <script>
        //var modal = document.querySelector(".modal");
        //var btnFlotante = document.querySelector(".btn-flotante");
        var options = document.querySelector("header div img");
        var menu = document.querySelector(".options");
            //var modalMessage = document.querySelector(".seeMessage");
            //var modalUpdate= document.querySelector(".updateMessage");
            //        var modalDelete= document.querySelector(".deleteMessage");


        //btnFlotante.addEventListener("click", function(){
        //    modal.style.top=0;
        //});

        options.addEventListener("click", function(){
            if(menu.style.display!="block"){
                        menu.style.display="block";
            }
                    else{
                        menu.style.display="none";
            }
        });

        // var message = document.querySelector(".messages div");

        //message.addEventListener("click", function(e){
        //    if(e.target.className=="edit"){
        //        modalUpdate.style.top=0;
        //    }
        //    else if(e.target.className=="delete"){
        //        modalDelete.style.top=0;
        //    }
        //    else{
        //                modalMessage.style.top=0;
        //    }
        //});



    </script>


</body>
</html>